<div class="row">

  <%= "<div class=\"alert alert-success\">#{flash[:notice]}</div>".html_safe if flash[:notice] %>
  <%= "<div class=\"alert alert-error\">#{flash[:error]}</div>".html_safe if flash[:error] %>

  <div style="margin:0 0 20px 20px;"><%= image_tag('banner' + (rand(5)+1).to_s + ".jpg") %></div>

</div>

<div class="row">

  <div class="span8">
    <div class="border-right">
      
      <div class="row-fluid">
        <% if !@promos.empty? %>
          <div class="span6">
            <p><%= link_to(image_tag(@promos[0].promo.url, class: 'img-rounded'), front_show_path(id: @promos[0])) %></p>
            <p><%= link_to(image_tag(@promos[1].promo.url, class: 'img-rounded'), front_show_path(id: @promos[1])) if @promos[1] %></p>
          </div>
          <div class="span6">
            <p><%= link_to(image_tag(@promos[2].promo.url, class: 'img-rounded'), front_show_path(id: @promos[2])) if @promos[2] %></p>
            <p><%= link_to(image_tag(@promos[3].promo.url, class: 'img-rounded'), front_show_path(id: @promos[3])) if @promos[3] %></p>
          </div>
        <% end %>

      </div>

    </div>
  </div>

  <div class="span4">
    <h2>Latest News</h2>
    <% @articles.each do |article| %>
    <%= link_to("<h3 class=\"article-title\">#{article.title}</h3>".html_safe, front_show_path(id: article.id)) %>
    <%= "<p>#{article.body}</p>"[0..247].html_safe + " [. . .] &larr; ".html_safe + link_to("Read more", front_show_path(id: article.id)) %>
    <% end %>
  </div>

</div>