<div class="main">
  <div class="article">

    <%= "<p class=\"notice\">#{flash[:notice]}</p>".html_safe if flash[:notice] %>
    <%= "<p class=\"error\">#{flash[:error]}</p>".html_safe if flash[:error] %>

    <h2>Listing articles with <%= @string %></h2>

    <% @articles.each do |article| %>
      <% if article.visible %>
        <h2><%= link_to(article.title, front_show_path(id: article.id)) %></h2>
        <h5>posted at <%= "#{article.updated_at}"[0...-4] %> by <%= article.author %> | category: <%= article.category %></h5>
        <%= "#{article.body}"[0..500].html_safe + " [. . .] &larr; ".html_safe + link_to("Read more</p>".html_safe, front_show_path(id: article.id)) %>
      <% end %>
    <% end %>

    <div class="centered"><%= paginate @articles %></div>

  </div>
</div>
