<div class="main">
  <div class="article">

    <%= "<div class=\"alert alert-success\">#{flash[:notice]}</div>".html_safe if flash[:notice] %>
    <%= "<div class=\"alert alert-error\">#{flash[:error]}</div>".html_safe if flash[:error] %>
    <div class="alert alert-info">You are currently in the backend</div>

    <h2>Editing article <i><%= @article.title %></i></h2>

    <div class="aform">
      <%= form_for @article, method: "put" do |f| %>
        <p>Title:<br/>
          <%= f.text_field :title %></p>
        <p>Author:<br/>
          <%= f.select :user_id, options_for_select(@options, @article.user_id) %></p>
        <p>Category:<br/>
          <%= f.select(:category, options_for_select([['Life Insurance', 'life_insurance'], ['Health Insurance', 'health_insurance'], ['Financial Planning', 'financial_planning'], ['Blog', 'blog']])) %></p>
        <p>Body:<br/><br/><i>
          paragraphs: &lt;p&gt;...&lt;/p&gt;<br/>
          bold: &lt;b&gt;...&lt;/b&gt;<br/>
          italics: &lt;i&gt;...&lt;/i&gt;<br/>
          headers: &lt;h1 (or h2, h3... h6)&gt;...&lt;/h1&gt;<br/>
          line break: &lt;br /&gt;</i><br/><br/>
          <%= f.text_area :body, size: "80x20" %></p>
        <p>Keywords <i>(separate with commas)</i>:<br/>
          <%= f.text_field :tags %></p>
        <p >Visible:<br/>
          Yes <%= f.radio_button "visible", true, style: 'width:20px;' %> No <%= f.radio_button "visible", false, style: 'width:20px;' %></p>
        <p>Image:<br/>
          <%= f.file_field :image %></p>
          <%= image_tag @article.image.url if !@article.image_file_name.nil? %>
          <br/>
          <br/>
        <p>Promo image <i>(must be 293x220px)</i>:<br/>
          <%= f.file_field :promo %></p>
          <%= image_tag @article.promo.url if !@article.promo_file_name.nil? %>
          <br/>
          <br/>
        <p><%= f.submit %></p>
      <% end %>
    </div>

    <%= link_to("Delete image", controller: 'articles', action: 'delete_image', id: @article.id) %><br/>
    <%= link_to("Delete promo", controller: 'articles', action: 'delete_promo', id: @article.id) %>


  </div>
</div>
