<div class="main">
  <div class="article">

    <%= "<p class=\"notice\">#{flash[:notice]}</p>".html_safe if flash[:notice] %>
    <%= "<p class=\"error\">#{flash[:error]}</p>".html_safe if flash[:error] %>

    <h2>Editing article <i><%= @article.title %></i></h2>

    <%= form_for @article, method: "put" do |f| %>
      <p>Title:<br/>
        <%= f.text_field :title %></p>
      <p>Body:<br/>
        <%= f.text_area :body, size: "80x20" %></p>
      <p>Keywords <i>(separate with commas)</i>:<br/>
        <%= f.text_field :tags %></p>
      <p>Visible:<br/>
        Yes <%= f.radio_button "visible", true %> No <%= f.radio_button "visible", false %></p>
      <p><%= f.submit %></p>
    <% end %>

  </div>
</div>
