<div class="main">
  <div class="article">

    <%= "<div class=\"alert alert-success\">#{flash[:notice]}</div>".html_safe if flash[:notice] %>
    <%= "<div class=\"alert alert-error\">#{flash[:error]}</div>".html_safe if flash[:error] %>
    <div class="alert alert-info">You are currently in the backend</div>

    <h1>Listing all articles</h1>

    <% @articles.each do |article| %>
      <h2 style="line-height:100%;"><%= link_to(article.title, article_path(article.id)) %><%= " <i>(hidden)</i>".html_safe if article.visible == "false" or not article.visible %></h2>
      <h5 style="line-height:100%;">by <%= User.find(article.user_id).name %> | <%= "#{article.updated_at}"[0...-12] %></h5>
      <h5 style="line-height:100%;">category: <%= link_to(parse_keywords(article.category), learning_center_search_path(category: article.category)) %></h5>
      <%= "#{article.body}"[0..500].html_safe + " [. . .] &larr; ".html_safe + link_to("Read more", article_path(article.id)) %>
      <hr />
    <% end %>

    <div class="centered pagination"><%= paginate @articles %></div>

  </div>
</div>
