<div class="main">
  <div class="article">

    <%= "<div class=\"alert alert-success\">#{flash[:notice]}</div>".html_safe if flash[:notice] %>
    <%= "<div class=\"alert alert-error\">#{flash[:error]}</div>".html_safe if flash[:error] %>
    <div class="alert alert-info">You are currently in the backend</div>

    <h2>Create New Article</h2>

    <div class="aform">
      <%= form_tag({controller: "articles"}, {method: "post", multipart: true}) do %>
        <p>Title:<br/>
          <%= text_field_tag(:title) %></p>
        <p>Author:<br/>
          <%= select_tag(:user_id, options_for_select(@options)) %></p>
        <p>Category:<br/>
          <%= select_tag(:category, options_for_select([['Life Insurance', 'life_insurance'], ['Health Insurance', 'health_insurance'], ['Financial Planning', 'financial_planning'], ['Blog', 'blog']])) %></p>
        <p>Body:<br/>
          paragraphs: &lt;p&gt;...&lt;/p&gt;<br/>
          bold: &lt;b&gt;...&lt;/b&gt;<br/>
          italics: &lt;i&gt;...&lt;/i&gt;<br/>
          headers: &lt;h1 (or h2, h3... h6)&gt;...&lt;/h1&gt;<br/>
          line break: &lt;br /&gt;</i><br/><br/>
          <%= text_area_tag(:body, nil, rows: 20, cols: 80) %></p>
        <p>Keywords <i>(separate with commas)</i>:<br/>
          <%= text_field_tag(:tags) %></p>
        <p>Visible:<br/>
          Yes <%= radio_button_tag(:visible, true, "checked", style: 'width:20px;') %> No <%= radio_button_tag(:visible, false, false, style: 'width:20px;') %></p>
        <p>Image:<br/>
          <%= file_field_tag :image %></p>
        <p>Promo image <i>(must be 293x220px)</i>:<br/>
          <%= file_field_tag :promo %></p>
        <p><%= submit_tag %></p>
      <% end %>
    </div>

  </div>
</div>
