<div class="main">
  <div class="article">

    <h2 style="margin-bottom:0;"><%= @article.title %></h2>
    <p style="margin-top:0;"><i><%= "#{@article.updated_at}"[0...-4] %></i>

    <%= "#{@article.body}".html_safe %>

    <p><i>Tags: <%= @article.tags %></i></p>

    <p><i><%= link_to("Edit", edit_article_path(@article.id)) %></i> | <i><%= link_to("Delete", article_path, method: "delete") %></i></p>

  </div>
</div>
