<div class="main">
  <div class="article">

    <div class="alert alert-info">You are currently in the backend</div>

    <h2 style="margin-bottom:0;"><%= @article.title %></h2>
    <h5>by <%= @article.author %> <%= "#{@article.updated_at}"[0...-12] %> | category: <%= link_to(@article.category, front_search_path(category: @article.category)) %></h5>

    <%= "#{@article.body}".html_safe %>

    <%= image_tag @article.image.url if !@article.image_file_name.nil? %>

    <p><i>Keywords: <%= @article.tags %></i></p>

    <p><i><%= link_to("Edit", edit_article_path(@article.id)) %></i> | <i><%= link_to("Delete", article_path, method: "delete") %></i></p>

  </div>
</div>
