<% tag_string = "" %>
<% @tags.each {|tag| tag_string += link_to(tag, learning_center_search_path(keyword: tag)) + ", "} %>
<% tag_string = tag_string[0...-2] %>

<div class="main">
  <div class="article">

    <div class="alert alert-info">You are currently in the backend</div>

    <h2 style="margin-bottom:0;line-height:100%;"><%= @article.title %></h2>
    <h5 style="line-height:100%;">by <%= User.find(@article.user_id).name %> | <%= "#{@article.updated_at}"[0...-12] %></h5>
    <h5 style="line-height:100%;">category: <%= link_to(parse_keywords(@article.category), learning_center_search_path(category: @article.category)) %></h5>

    <%= "<p style=\"text-align:center;\" class=\"img-rounded\">".html_safe + image_tag(@article.image.url) + "</p>".html_safe if !@article.image_file_name.nil? %>

    <%= "#{@article.body}".html_safe %>

    <br/>

    <p><i>Keywords: <%= "#{tag_string}".html_safe %></i></p>

    <p><i><%= link_to("Edit", edit_article_path(@article.id)) %></i> | <i><%= link_to("Delete", article_path, method: "delete") %></i></p>

    <p><%= link_to("View this article in the frontend", learning_center_show_path(id: @article.id)) %></p>

  </div>
</div>
