<%= "<p class=\"alert alert-success\">#{flash[:notice]}</p>".html_safe if flash[:notice] %>
<%= "<p class=\"alert alert-error\">#{flash[:error]}</p>".html_safe if flash[:error] %>

<%= form_tag(action: "update_password") do %>
	<p>Old password:<br/>
		<%= password_field_tag :old_password %></p>
	<p>New password:<br/>
		<%= password_field_tag :new_password %></p>
	<p>New password verify:<br/>
		<%= password_field_tag :new_password_verify %></p>
	<%= hidden_field_tag(:id, params[:id]) %>
	<p><%= submit_tag %></p>
<% end %>