
<div class="article">
  <h2>Contact Us</h2>

  <%= form_tag do %>

  <h3>Your Personal Info</h3>

  <div class="row-fluid">
    <div class="span4"><p>First name: <br/>
    <%= text_field_tag(:first, "", placeholder: "Bobby") %></p></div>

    <div class="span4"><p>Last name: <br/>
    <%= text_field_tag(:last, "", placeholder: "Tables") %></p></div>
  </div>

  <div class="row-fluid">
    <div class="span4"><p>Phone <i>(format: xxx-xxx-xxxx)</i>: <br/>
    <%= text_field_tag(:phone, "", placeholder: "123-456-7890") %></p></div>

    <div class="span4"><p>Email: <br/>
    <%= text_field_tag(:email, "", placeholder: "bobby@kokosurance.com") %></p></div>
  </div>

  <div class="row-fluid">
    <div class="span4"><p>Address: <br/>
      <%= text_field_tag(:addr1, "", placeholder: "123 Fake Street") %></p></div>

    <div class="span4"><p>City: <br/>
      <%= text_field_tag(:city, "", placeholder: "Nowhereville") %></p></div>
  </div>

  <div class="row-fluid">
    <div class="span4"><p>State: <br/>
      <%= text_field_tag(:state, "", placeholder: "UT") %></p></div>

    <div class="span4"><p>ZIP code: <br/>
      <%= text_field_tag(:zip, "", placeholder: "12345") %></p></div>
  </div>

  <h3>Your message</h3>
  <p><%= text_area_tag(:message, "", size: "5x10", class: "span11 aform", placeholder: "enter your message here...") %></p>

  <p><%= submit_tag "Submit form" %></p>

  <% end %>
</div>