<%= "<div class=\"alert alert-success\">#{flash[:notice]}</div>".html_safe if flash[:notice] %>
<%= "<div class=\"alert alert-error\">#{flash[:error]}</div>".html_safe if flash[:error] %>

<div class="row">

  <div style="margin:0 0 20px 20px;float:left;"><%= image_tag('banner' + (rand(4) + 1).to_s + '.jpg') %></div>

  <div class="contact_box">

    <p style="font-size:230%;line-height:110%;">Get yourself some Kokosurance.</p>

    <p>Getting insurance through Kokopelli Insurance is so good, you might just call it KOKOsurance.</p>

    <%= link_to('<button class="btn btn-large">Get a Quote!</button>'.html_safe, static_quote_path, style: "color:black;") %>

  </div>

</div>

<div class="row-fluid">

  <div class="span8">
    <div class="border-right">
      
      <div class="row-fluid">
        <% if !@promos.empty? %>
          <div class="span6">
            <p><%= link_to(image_tag(@promos[0].promo.url, class: 'img-rounded'), learning_center_show_path(id: @promos[0])) if @promos[0] %></p>
            <p><%= link_to(image_tag(@promos[1].promo.url, class: 'img-rounded'), learning_center_show_path(id: @promos[1])) if @promos[1] %></p>
          </div>
          <div class="span6">
            <p><%= link_to(image_tag(@promos[2].promo.url, class: 'img-rounded'), learning_center_show_path(id: @promos[2])) if @promos[2] %></p>
            <p><%= link_to(image_tag(@promos[3].promo.url, class: 'img-rounded'), learning_center_show_path(id: @promos[3])) if @promos[3] %></p>
          </div>
        <% end %>

      </div>

    </div>
  </div>

  <div class="span4">
    <h2>Latest Articles</h2>
    <% @articles.each do |article| %>
      <h3 class="article-title"><%= link_to(article.title, learning_center_show_path(article.id, title: article.title)) %></h3>
      <p class="article-body"><%= sanitize("#{article.body}"[0..250].gsub("<p>", "").gsub("</p>", "<br>"), tags: %w(br)) %> [...] &larr; <%= link_to("Read more", learning_center_show_path(article.id, title: article.title)) %></p>
    <% end %>
  </div>

</div>