<!DOCTYPE html>
<html>
<head>
  <title>The Family Clinic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">

		<header>
			<div class="header_bar1">
				<div class="logo"><%= link_to(image_tag("logo.jpg"), static_pages_index_path) %></div>
				<nav class="primary">
					<ul>
						<li><%= link_to("Home", root_path) %></li>
						<li>About Us
						<ul>
						  <li><%= link_to("Clinic Information", static_pages_clinic_information_path) %></li>
						  <li><%= link_to("Our Providers", static_pages_providers_path) %></li>
						  <li><%= link_to("Our Staff", static_pages_staff_path) %></li>
						</ul></li>
						<% if session[:login] == true %>
							<li><%= link_to("News", articles_path) %>
								<ul>
									<li><%= link_to("New Article", new_article_path) %></li>
								</ul>
							</li>
						<% else %>
							<li><%= link_to("News", front_index_path) %></li>
						<% end %>
						<li>Tools
							<ul>
								<li><%= link_to("Make a Payment", "https://secure.modpay.com/vterm/vterm1.cfm?an&ae=1&clientcode=33987ED0") %></li>
								<li><%= link_to("Request Medical Records", "http://www.centralutahclinic.com/patient-resources/request-medical-records") %></li>
								<li><%= link_to("Central Utah Clinic Website", "http://www.centralutahclinic.com/") %></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header_bar2">
				<div class="banner">banner</div>
				<div class="welcome">
					welcome
					<% if session[:login] == true %>
						<p>Notice: currently logged in. <%= link_to("Logout", users_destroy_session_path) %>.</p>
					<% end %>
				</div>
			</div>
		</header>

		<%= yield %>

		<footer>
			<div class="footer_box">footer1</div>
			<div class="footer_box">footer2</div>
			<div class="footer_box">
				<p><b>Legal</b></p>
				<p><%= link_to("Privacy Practice", static_pages_privacy_practice_path) %></p>
				<p><%= link_to("Privacy Policy", static_pages_privacy_policy_path) %></p>
				<p><%= link_to("Terms of Use", static_pages_terms_of_use_path) %></p>
				<p><%= link_to("Disclaimer", static_pages_disclaimer_path) %></p>
			</div>
			<div class="footer_box"><p>Services provided in partership with<%= link_to(image_tag("central_utah_clinic_logo.gif", width: 200), "http://centralutahclinic.com/") %></p></div>
		</footer>

	</div>

</body>
</html>
