<!DOCTYPE html>
<html>
<head>
  <title>The Family Clinic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">

		<header>
			<div class="header_bar1">
				<div class="logo"><%= image_tag("logo.jpg") %></div>
				<nav class="primary">
					<ul>
						<li><a href="#">one</a></li>
						<li><a href="#">two</a></li>
						<li><a href="#">three</a></li>
						<li><a href="#">four</a></li>
					</ul>
				</nav>
			</div>
			<div class="header_bar2">
				<div class="banner">banner</div>
				<div class="welcome">welcome</div>
			</div>
		</header>

		<%= yield %>

		<footer>
			<div class="footer_box">footer1</div>
			<div class="footer_box">footer2</div>
			<div class="footer_box">footer3</div>
			<div class="footer_box">footer4</div>
		</footer>

	</div>

</body>
</html>
